{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9", "chrome >= 52"],
          "node": "current"
        }
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "add-module-exports"
  ]
}
