{
  "presets": [
    [
      "env",
      {
        //"modules": false,
        "targets": {
          //"browsers": ["last 2 versions", "ie >= 9", "chrome >= 52"],
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["transform-class-properties", "add-module-exports"]
}
